<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<style>

:host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
    {
      margin: 8px;
    }

    
</style>

<h1>Rezept niederschreiben</h1>

<div class="container">
    <form [formGroup]="rezepteform" autocomplete="off">
        <div class="mb-1">
            <label for="name" class="form-label">Name</label>
            <div class="input-group has-validation">
                <input type="text" #name [ngClass]="{'form-control': true, 'is-invalid': rezepteform.get('name')?.invalid &&
                (rezepteform.get('name')?.dirty || rezepteform.get('name')?.touched)}" id="name" name="name"
                    formControlName="name" placeholder="Name">
                <div class="invalid-feedback">
                    Ausfüllen notwendig.
                </div>
            </div>
        </div>
        <div class="mb-1">
            <label for="kategorie" class="form-label">Kategorie: {{rezepteform.get('kategorie')?.value}} </label>
            <div class="input-group has-validation">
                <select [ngClass]="{'form-select': true, 'is-invalid': rezepteform.get('kategorie')?.invalid &&
                    (rezepteform.get('kategorie')?.dirty || rezepteform.get('kategorie')?.touched)}"
                    aria-label="Default select example" formControlName="kategorie">
                    <option value=""> Kategorie auswählen...</option>
                    <option value="Einfache Gerichte" selected="rezepteform.get('portion')?.value=='Einfache Gerichte'">Einfache Gerichte</option>
                    <option value="Internationale Gerichte" selected="rezepteform.get('portion')?.value=='Internationale Gerichte'">Internationale Gerichte</option>
                    <option value="Krustentiere" selected="rezepteform.get('portion')?.value=='Krustentiere'">Krustentiere und Fisch</option>
                    <option value="Suessspeisen" selected="rezepteform.get('portion')?.value=='Suessspeisen'">Suessspeisen</option>
                </select>
                <div class="invalid-feedback">
                    Ausfüllen notwendig.
                </div>
            </div>
        </div> 
        <div class="mb-1">
            <label for="portion" class="form-label">Portion: {{rezepteform.get('portion')?.value}} </label>
            <div class="input-group has-validation">
                <select [ngClass]="{'form-select': true, 'is-invalid': rezepteform.get('portion')?.invalid &&
                    (rezepteform.get('portion')?.dirty || rezepteform.get('portion')?.touched)}"
                    aria-label="Default select example" formControlName="portion">
                    <option value=""> Portion auswählen...</option>
                    <option value="1" selected="rezepteform.get('portion')?.value=='1'">1-2</option>
                    <option value="3" selected="rezepteform.get('portion')?.value=='3'">3-4</option>
                    <option value="5" selected="rezepteform.get('portion')?.value=='5'">5-6</option>
                    <option value="7" selected="rezepteform.get('portion')?.value=='7'">7-8</option>
                    <option value="0" selected="rezepteform.get('portion')?.value=='0'">ohne Angabe</option>
                </select>
                <div class="invalid-feedback">
                    Ausfüllen notwendig.
                </div>
            </div>
        </div>
        <div class="mb-1">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button (click)="create()" [disabled]="rezepteform.invalid" class="btn btn-primary" type="button">Niederschreiben
                    </button>
                    <button type="button" class="col-4 btn btn-secondary" (click)="cancel() ">Abbrechen</button>
            </div>
        </div>
        
    </form>
</div>
